/* Container for the sidebar and main content */
.container {
    display: flex;
    height: 100vh;
  }
 
  /* .Student{
    background-color: blue;
  } */
  
  /* Sidebar Styles */
  .sidebar {
    width: 255px;
    background-color: #3d5288;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .sidebar h2 {
    padding-left :10px; ;
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0px;
  }
  
  .sidebar ul li a,
  .sidebar ul li button {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .sidebar ul li a:hover,
  .sidebar ul li button:hover {
    background-color: #cd2d2d;
    border-radius: 5px;
    
  }
  
  /* Main Content Styles */
  .main-content {
    margin:10 0 10 0;
    margin-left: 250px; /* Add margin to ensure the main content is not hidden behind the sidebar */
    padding: 20px;
    background-color: #a82727;
    overflow-y: auto;
    border-radius: 2px;
  }
  
  h1 {
    font-size: 2em;
    color: #c9694e;
  }
  
  p {
    font-size: 1.2em;
    color: #333;
  }
  
  /* Form Styles */
  .exemption-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 0;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    padding-left:5px;
    padding-bottom: 5px;
    font-size: 1.1em;
    color: #333;
  }
  
  input {
    margin-top:5px;
    padding-right:20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
  }
  
  /* button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #e69131;
    color: rgb(185, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
  } */


.exemption-form button:hover {
    background-color: #4f9c47;
  }
.done{
  margin-top:20px;
  display:flex;
  flex-direction: row;
  justify-content: right;
}
button.submit{
  /* margin-top: auto; */
  padding: 10px 20px;
  margin-left :50px;
  margin-right:0px;
  width:90px;
}
button.submit:hover {
  background-color: #4f9c47;
}
button.cancel{
  width:90px;
  padding: 10px 20px;
}
button.cancel:hover {
  background-color: #a34141;
}

  